/* colors */
$color-titulo: #060A24;
$color-button: #00F3BB 100%;


/* font-family */

$primary-font: 'IBM Plex Sans', sans-serif;
$secondary-font: 'IBM Plex Mono', monospace;
$awesom: 'FontAwesome5Brands';

/* font sizes */
$size-titulos: 36px;
$size-temas: 24px;
$size-buttons: 16px;
$size-parrafo: 14px;